@import 'meyer-reset.css';

*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header, footer, main{
    border: 5px solid red;
}

main{
    flex: 1;
}

section{
    border: 5px solid greenyellow;
}

.inner-column{
    border: 5px solid orange;
    max-width: 900px;
    margin: auto;
    padding: 10px;
}

button{
    color: white;
    font-size: 16px;
    background-color: #3882f6;
    border-radius: 4px;
}

picture{
    display: block;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

 .inner-column.header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 800;
        gap: 20px;
    }

@media (min-width: 700px){

    .first-layer{
        display: flex;
        gap: 20px;
        justify-content: space-between;
    }
    
    .first-layer .title-info, .first-layer picture{
        flex-basis: 50%;
        border: 2px solid blue;
    }
}

@media (max-width: 700px){
    .first-layer{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .inner-column picture{
        max-width: 550px;
    }
}

@media (max-width: 445px){
    .pair{
        flex-basis: 25%;
    }
    .pairs{
        flex-wrap: wrap;
    }
}

.welcome, header{
    background-color: darkblue;
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

.pairs{
    display: flex;
    gap: 16px;
    padding: 5px;
    align-items: stretch;
}

.pair{
    display: flex;
    flex-direction: column;
    width: 25%;
}

.pair p, .pair img{
    margin: 0;
    height: 100px;  
    object-fit: cover;
}

.pair img{
    flex: 3;
    border-radius: 6px;
}
.pair p{
    flex: 1;
    padding: 5px;
}

.second-layer h2{
    text-align: center;
}

.quote{
    background-color: #e5e7eb;
}

.quotetext{
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    display: flex;
    justify-content: center;
    padding: 48px 16px 16px;
    margin: 16px 16px 0;
}

.author{
    display: flex;
    justify-content: flex-end;
    margin: auto;
    padding-bottom: 48px;
    font-weight: 800;
    margin-right: 40px;
}