@import 'meyer-reset.css';

*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}


main{
    flex: 1;
}

.inner-column{
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}

button{
    color: white;
    font-size: 16px;
    background-color: #3882f6;
    border-radius: 4px;
}

picture{
    display: block;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

.inner-column.header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 800;
        gap: 20px;
    }

.links{
    display: flex;
    gap: 24px;
}

.title-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.title-info p{
    max-width: 50%;
}

@media (min-width: 700px){

    .first-layer{
        display: flex;
        gap: 20px;
        justify-content: space-between;
    }
    
    .first-layer .title-info, .first-layer picture{
        flex-basis: 50%;
    }
}

@media (max-width: 700px){
    .first-layer{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .inner-column picture{
        max-width: 550px;
    }
}

@media (max-width: 445px){
    .pair{
        flex-basis: 25%;
    }
    .pairs{
        flex-wrap: wrap;
    }
}

.welcome, header, footer{
    background-color: #1F2937;
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

.pairs{
    display: flex;
    gap: 16px;
    padding: 5px;
    align-items: stretch;
}

.pair{
    display: flex;
    flex-direction: column;
    width: 25%;
}

.pair p, .pair img{
    margin: 0;
    height: 100px;  
    object-fit: cover;
}

.pair img{
    flex: 3;
    border-radius: 6px;
}
.pair p{
    flex: 1;
    padding: 5px;
}

.second-layer h2{
    text-align: center;
}

.quote{
    background-color: #e5e7eb;
}

.quotetext{
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    display: flex;
    justify-content: center;
    padding: 48px 16px 16px;
    margin: 16px 16px 0;
}

.author{
    display: flex;
    justify-content: flex-end;
    margin: auto;
    padding-bottom: 48px;
    font-weight: 800;
    margin-right: 40px;
}

.call-to-action .inner-column{
    background-color: #3882f6;
    color: white;
    border-radius: 6px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
   
}
 
.call-to-action{
    padding: 8px;
    margin: 48px auto;
    max-width: 900px;
}

.calltext{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

button{
    border: 2px solid white;
    height: max-content;
    padding: 5px 20px;
}

.calltext h3, .calltext p{
    margin: 0;
}

footer .inner-column{
    display: flex;
    justify-content: center;
    align-items: center;
}